*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;   
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
	color: white;
	font-size: 50px;
    margin-left: 20px;
}

.navegacion{
    display: flex;
    margin-right: 15px;
}

.direccion{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 25px;    
}

.direccion:hover{
    background-color: white;
}

.hero{
    display: flex;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.series{background-image: linear-gradient(rgba(0, 0, 255, 0.404),rgba(0, 0, 0, 0.459)) , url(../img/film-1668918_1280.jpg);}

.peliculas{background-image: linear-gradient(rgba(0, 0, 255, 0.404),rgba(0, 0, 0, 0.459)), url(../img/landscape-1328858_1280.jpg);}

.popular{background-image: linear-gradient(rgba(0, 0, 255, 0.404),rgba(0, 0, 0, 0.459)),url(../img/samuel-regan-asante-wMkaMXTJjlQ-unsplash\(1\).jpg);}

.recientes{background-image: linear-gradient(rgba(0, 0, 255, 0.404),rgba(0, 0, 0, 0.459)), url(../img/ticket-2974645_1280.jpg);}

.titulo{
    font-size: 3em;
}

.btn{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 2em;
    width: 150px;
    font-size: 2em;
    border: 1px solid white;
    margin-top: 20px;
}

@media screen and (max-width: 200px) {
    .header{
        display: flow-root;
        text-align: center;
        top: 0;
    }

    .header h1{
        display: none;
    }

    .navegacion{
        overflow: scroll;
    }
}